packages:
  yum:
    awslogs: []
container_commands:
  1-cp-awscli_conf:
    command: cp -rf .ebextensions/awslogs/awscli.conf /etc/awslogs/awscli.conf
  2-cp-awslogs_conf:
    command: cp -rf .ebextensions/awslogs/awslogs.conf /etc/awslogs/awslogs.conf
  3-chkconfig-awslogs:
    command: sudo /sbin/chkconfig awslogs on
  4-restert-awslogs:
    command: sudo /sbin/service awslogs status; if [ $? -eq 0 ]; then sudo /sbin/service awslogs restart; else sudo /sbin/service awslogs start ; fi;


